#nav {
  text-align: center;
  min-height: 10vh;
  background-color: rgb(31, 5, 104);
}

button {
  color: #fff !important;
  border-radius: 5px;
  background-color: rgb(31, 5, 104);
  font-size: 14px;
  padding: 15px 30px;
  letter-spacing: 2px;
  text-transform: uppercase !important;
  position: relative !important;
  overflow: hidden !important;
}

button .circle {
  position: absolute !important;
  border-radius: 50%;
  background-color: #fff;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

#brand {
  color: white;
  letter-spacing: 0.5;
  font-weight: bolder;
  font-size: 3.0em;
}

ul.navLinks li {
  display: inline-flex;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 10px;
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  color: inherit;
  border: 0.5px solid white;
  border-radius: 2px;
  background: inherit;
  padding: 8px;
  transition-property: background;
  transition-timing-function: ease-out;
  transition-duration: .2s;
}

li a:hover {
  background: white;
  color: rgb(31, 5, 104);
  font-weight: bolder;
  text-decoration: underline;
}

.banner {
  background: linear-gradient(180deg, whitesmoke, whitesmoke, whitesmoke, rgba(31, 5, 104, 0.3));
}

#banner-content {
  padding-top: 5%;
  padding-bottom: 14%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(31, 5, 104);
}

#interested {
  font-size: 3.5em;
}

#hook {
  margin-top: 1%;
  margin-bottom: 3%;
  color: white;
  display: block;
  background: rgb(31, 5, 104);
  width: fit-content;
  font-size: inherit;
}

h1+h2 {
  color: blue;
}

h4 {
  letter-spacing: 1.5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

span.organizer {
  color: green;
}

span.organizer:hover {
  text-decoration: underline;
  cursor: pointer;
}

#sign-up-btn {
  border: 1px solid rgb(31, 5, 104);
  ;
  background: transparent;
  width: fit-content;
  padding: 15px 30px;
  color: rgb(31, 5, 104);
  text-align: center;
}

#sign-up-btn:hover {
  color: rgb(255, 255, 255) !important;
  background: rgb(31, 5, 104);
  box-shadow: 1px 1px 1px 1px #4f4f50;
}

#sign-up-btn:active {
  transform: translate(1px, 1px);
}

#courses {
  background: whitesmoke;
  padding: 10% 0 10% 0;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  color: rgb(31, 5, 104);
}

ul.courseList li {
  display: inline;
  color: blue;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

#schedule {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #404141;
  text-align: center;
  padding: 7% 0 7% 0;
  font-size: 2em;
  font-weight: 100 !important;
}

#schedule h1 {
  font-size: 2em;
}

ul li {
  color: inherit;
  display: block;
  text-align: inherit;
  font-family: inherit;
  margin-bottom: .5em;
}

#footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  width: 100%;
  min-height: 20vh;
  background-color: rgb(31, 5, 104);
  font-size: 1em;
  color: white;
  padding: 25px;
}

ul.navLinks-bottom li {
  display: inline-flex;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px 10px 10px 0;
  text-align: right;
}